@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  padding: 0;
  margin: 0; }

#main-container {
  width: 100%;
  margin: 0 auto; }

/*HEADER*/
#header .container {
  width: 100%;
  display: flex;
  position: fixed;
  background-color: #ccc;
  top: 0; }
  #header .container .logo {
    padding: 15px;
    width: 60vw; }
    #header .container .logo #header-img {
      max-width: 300px; }
  #header .container #nav-bar ul {
    padding: 5px;
    display: flex;
    width: 35vw;
    list-style: none;
    justify-content: space-around; }
    #header .container #nav-bar ul .nav-link {
      text-decoration: none;
      font-weight: bold;
      color: black; }

/*NEWSLETTER*/
#newsletter {
  display: flex;
  margin-top: 80px; }
  #newsletter .container {
    overflow: hidden;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px; }
    #newsletter .container #form {
      flex-direction: column;
      display: flex;
      align-items: center; }
      #newsletter .container #form input[type="email"] {
        max-width: 275px;
        width: 100%;
        padding: 5px; }
      #newsletter .container #form input[type="submit"] {
        max-width: 120px;
        width: 100%;
        padding: 10px 10px;
        background-color: orange;
        border: 0;
        margin-top: 5px;
        font-weight: 900; }

/*FEATURES*/
#features {
  width: 100%;
  max-width: 1000px;
  margin: auto; }
  #features .grid {
    display: flex;
    justify-content: center; }
  #features .icon {
    display: flex;
    height: 125px;
    width: 20vw;
    color: green;
    align-items: center;
    justify-content: center; }
    #features .icon i {
      font-size: 3rem; }
  #features .description {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px; }
    #features .description h2 {
      text-align: left;
      margin: 0; }
    #features .description p {
      font-weight: 500;
      text-align: left;
      margin: 0; }

/*VIDEO*/
.video {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .video #video {
    width: 100%;
    max-width: 540px; }

/*SERVICES*/
#services {
  width: 100vw;
  margin: 60px 0px; }
  #services .container {
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    #services .container .services-box {
      border: 1px solid #000;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% / 3);
      margin: 5px;
      min-height: 300px; }
      #services .container .services-box .services-items {
        background-color: #ccc;
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 15px 0px; }
      #services .container .services-box .money {
        font-weight: 900; }
      #services .container .services-box .services-p {
        line-height: 2rem;
        text-align: center;
        margin: 0; }
      #services .container .services-box .services-button {
        background-color: orange;
        padding: 15px 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        border: 0;
        font-size: 15px; }

/*FOOTER*/
#footer {
  display: flex;
  padding: 0;
  margin-top: 20px; }
  #footer .container {
    width: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    background-color: #ccc; }
    #footer .container ul {
      padding-bottom: 5px;
      margin: 0; }
    #footer .container li {
      list-style: none;
      display: inline-block;
      padding: 0px 10px; }
      #footer .container li a {
        text-decoration: none;
        color: #000; }
    #footer .container .footer-p {
      margin: 0;
      color: #474646;
      font-size: 14px; }

/*QUERY*/
@media (max-width: 600px) {
  #header .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #header .container .logo {
      width: 100%; }
      #header .container .logo img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center; }
    #header .container #nav-bar ul {
      display: flex;
      flex-direction: column;
      align-items: center; }

  #newsletter .container {
    margin-top: 90px; }

  #features .grid .icon {
    display: none; }

  #footer .container {
    width: 100%;
    align-items: center; } }
@media (max-width: 700px) {
  #services .container {
    width: 100%;
    flex-direction: column;
    align-items: center; }
    #services .container .services-box {
      width: 70%; } }

/*# sourceMappingURL=theme.css.map */
